<launch>
  <node pkg="cv_bridge_tutorial_pkg" type="sample_cv_bridge_node" name="sample_cv_bridge_node" output="screen"/>

  <node pkg="rosbag" type="play" name="player" output="screen" args="$(find cv_bridge_tutorial_pkg)/dataset/kitti_2011_09_26_drive_0001_synced.bag /kitti/camera_color_left/image_raw:=/image_raw"/>
  
</launch>
