<launch>
  <rosparam file="$(find ch3_seven_dof_arm_gazebo)/config/seven_dof_arm_gazebo_world.yaml" command="load"/>
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="debug" value="$(arg debug)"/>
	<arg name="gui" value="$(arg gui)"/>
	<arg name="paused" value="$(arg paused)"/>
	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
	<arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- load the urdf file into ros parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ch3_seven_dof_arm_gazebo)/urdf/ch3_seven_dof_arm_gazebo.xacro'"/>

  <!-- send a python script to send a service call to gazebo_ros_ to spawn a urdf robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model seven_dof_arm -param robot_description"/>
  
</launch>
